<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style/style.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emoji-awesome/0.0.2/css/twitter.min.css">


		<!-- sc-editor -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css"/>
		<title>{{ title ?? 'MVC-BLOG' }}</title>


	</head>

	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">MVC-Blog</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link {{ _GET['controller'] is empty or _GET['controller'] == 'home' ? 'active' : '' }}" aria-current="page" href="/">Accueil</a>
						<a class="nav-link {{ _GET['controller'] is not empty and _GET['controller'] == 'blog' ? 'active' : '' }}" href="/blog">Blog</a>
					</div>
				</div>
			</div>
		</nav>
	</body>
</html>
